





#title{
    width:520px;
    height:63px;
    margin:40px auto 0 auto;
    background:transparent url(../images/title.png) no-repeat 0 0 scroll;
}

#subtitle{
    width:200px;
    text-align:center;
    margin:0 auto;
    font-style:italic;
    color:#666;
}




